body{
	padding: 0;
	margin: 0;
	font-family: 'Capriola', sans-serif;
	color: 000;
	font-style: 24px;
}

h1, h2, h3, h4{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Capriola', sans-serif;
}

ul, li{
	display: block;
}

.container{
	width: 1170px;
	margin: 0 auto;
	display: flex;
}

.header{
	background: url('../img/header.jpg') no-repeat center top /cover;
}

header a{
	color: #000;
}

.nav img{
	margin-right: 51px;
	margin-left: 42px;
}

.menu{
	display: flex;
}

.menu li a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	align-items: center;
	line-height: 22px;
}

.menu li{
	margin-right: 40px;
}

.nav{
	margin-left: : 42px;
	display: flex;
	padding-top: 42px;
}

.offer{
	margin-left: 127px;
	padding-top: 72px;
	text-transform: uppercase;
	padding-bottom: 255px;
}

.offer h1{
	font-size: 64px;
	font-weight: normal;
}

.offer p{
	font-size: 36px;
	margin-top: -9px;
}

.offer p:last-child{
	font-size: 18px;
}

section{
	padding-top: 40px;
}

.text p{
	font-size: 18px;
	margin-top: 100px;
}

h2{
	font-size: 36px;	
}

.text{
	margin-top: 40px;
	margin-left: 88px;
}

.foto img{
	padding-left: 54px;
	margin-top: 40px;
}

.bot img{
	padding-left: 100px;
	margin-top: 40px;
}

.all_hobby{
	display: flex;
}


.all_hobby h3{
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
text-decoration-line: underline;
}


.dance{
	text-align: center;
	margin-left: 75px;
}

.tourism{
	margin-top: 85px;
	margin-left: 90px;
	text-align: center;
}

.hobby h2{
	margin-top: 40px;
	text-align: left;
}

.hobby p{
	font-size: 24px;
	align-items: center;
	text-align: center;
}

.hobby .container{
	display: auto;
}


.skill h4{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-decoration-line: underline;
text-align: center;
}

.skill .container{
	display: grid;
	height: 250px
}

.lang{
	margin-top: 26px;
}

.lang li{
	padding-left: 480px;
}

.footer{
	background: #000000;
	height: 180px;
}

.footer i{
	color: white;
	font-size: 40px;
	padding-right: 80px;
	padding-left: 80px;
	margin-top: 70px;
}

.footer p{
	color: white;
	text-align: center;
}

.icon{
	text-align: center;
}

.info{
	height: 40%;
	width: 60%;
	color: white;
	overflow: auto;
	margin-top: 160px; 
	left: 250px;
	text-align: center;
	font-size: 25px;
	background: #000000;
	position: fixed;
	display: none;
	z-index: 1;
	border-radius: 7px;
	font-family: 'Capriola', sans-serif;	
}

.info i{
	color: white;
	font-size: 40px;
	padding-right: 80px;
	padding-left: 80px;
	margin-top: 70px;
}

.close{
	color: white;
	font-size: 50px;
	font-weight: bold;
	position: fixed;
	right: 260px;
}

button{
  cursor: pointer;
  min-width: 200px;
  padding: 15px 5px;
  text-transform: uppercase;
  vertical-align: middle;
  background: black;
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 7px;
  box-shadow: 0 0 10px rgb(56,100,38);
  transition: all 1s;
}

button:hover {
  box-shadow: 0 0 25px rgb(56,100,38);
}

button:focus {
  outline: none;
}

#slides{
position: relative;
height: 400px;
width: 700px;
margin-top: 100px;
list-style-type: none;
align-items: center;
}

.slide{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
opacity: 0;
z-index: 10;

-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
}

.showing{
opacity: 1;
z-index: 2;
}

.slide img{
	width: 100%;
	height: 100%;
}